<!-- ===========================external job list in India=========================================== -->
<h3>Jobs found in India</h3>

<ul class="list-group">
    <%for(job of companies){%>
    <li class="list-group-item">
        <h4><%= job.company%></h4>
        <h6><%= job.created_at%></h6>
        <h6>Location: <%= job.location%></h6>
        <p><%= job.title%> - <%= job.type%></p>
        <h6>How to Apply:</h6>
        <p id="apply-para"></p>
        <p>
            <a href="<%= job.company_url%>"> Visit Us </a>
        </p>
    </li>
    <%}%>
</ul>
