
<li class="list-group-item">
<h5>
    <%= student.name%>
</h5>
<h5>
    <%= student.email%>
</h5>
<h6>
    <%= student.batch%>
</h6>
<p>
    Result for this interview:- 
    <form action="/results/addResult?interview=<%= comp.id%>&candidate=<%= student.id%>" method="POST">
        <label for="result">
            <select id="result" name="result">
                <option value="pass">
                    Pass
                </option>
                <option value="fail">
                    Fail
                </option>
                <option value="on hold">
                    On Hold
                </option>
                <option value="didn't attempt">
                    Didn't Attempt
                </option>
            </select>
        </label>
        <input type="submit" value="Submit" placeholder="Submit" />
    </form>

</p>
</li>